AgendaMLGClient/web/WEB-INF/wsdl/localhost_8080/AgendaMLGServer-war/UsuarioService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="UsuarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/AgendaMLGServer-war/UsuarioService?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarPorFecha">
<part name="parameters" element="tns:buscarPorFecha"/>
</message>
<message name="buscarPorFechaResponse">
<part name="parameters" element="tns:buscarPorFechaResponse"/>
</message>
<message name="borrarEvento">
<part name="parameters" element="tns:borrarEvento"/>
</message>
<message name="borrarEventoResponse">
<part name="parameters" element="tns:borrarEventoResponse"/>
</message>
<message name="verEventos">
<part name="parameters" element="tns:verEventos"/>
</message>
<message name="verEventosResponse">
<part name="parameters" element="tns:verEventosResponse"/>
</message>
<message name="modificarEvento">
<part name="parameters" element="tns:modificarEvento"/>
</message>
<message name="modificarEventoResponse">
<part name="parameters" element="tns:modificarEventoResponse"/>
</message>
<message name="validarEvento">
<part name="parameters" element="tns:validarEvento"/>
</message>
<message name="validarEventoResponse">
<part name="parameters" element="tns:validarEventoResponse"/>
</message>
<message name="buscarPorCP">
<part name="parameters" element="tns:buscarPorCP"/>
</message>
<message name="buscarPorCPResponse">
<part name="parameters" element="tns:buscarPorCPResponse"/>
</message>
<message name="crearEvento">
<part name="parameters" element="tns:crearEvento"/>
</message>
<message name="crearEventoResponse">
<part name="parameters" element="tns:crearEventoResponse"/>
</message>
<message name="formateoFecha">
<part name="parameters" element="tns:formateoFecha"/>
</message>
<message name="formateoFechaResponse">
<part name="parameters" element="tns:formateoFechaResponse"/>
</message>
<message name="obtenerUsuarios">
<part name="parameters" element="tns:obtenerUsuarios"/>
</message>
<message name="obtenerUsuariosResponse">
<part name="parameters" element="tns:obtenerUsuariosResponse"/>
</message>
<message name="subirEvento">
<part name="parameters" element="tns:subirEvento"/>
</message>
<message name="subirEventoResponse">
<part name="parameters" element="tns:subirEventoResponse"/>
</message>
<message name="iniciarSesion">
<part name="parameters" element="tns:iniciarSesion"/>
</message>
<message name="iniciarSesionResponse">
<part name="parameters" element="tns:iniciarSesionResponse"/>
</message>
<message name="rechazarEvento">
<part name="parameters" element="tns:rechazarEvento"/>
</message>
<message name="rechazarEventoResponse">
<part name="parameters" element="tns:rechazarEventoResponse"/>
</message>
<message name="notificarUsuario">
<part name="parameters" element="tns:notificarUsuario"/>
</message>
<message name="notificarUsuarioResponse">
<part name="parameters" element="tns:notificarUsuarioResponse"/>
</message>
<message name="obtenerEventosDeUsuario">
<part name="parameters" element="tns:obtenerEventosDeUsuario"/>
</message>
<message name="obtenerEventosDeUsuarioResponse">
<part name="parameters" element="tns:obtenerEventosDeUsuarioResponse"/>
</message>
<message name="obtenerEventosSinValidar">
<part name="parameters" element="tns:obtenerEventosSinValidar"/>
</message>
<message name="obtenerEventosSinValidarResponse">
<part name="parameters" element="tns:obtenerEventosSinValidarResponse"/>
</message>
<portType name="UsuarioService">
<operation name="buscarPorFecha">
<input wsam:Action="http://service/UsuarioService/buscarPorFechaRequest" message="tns:buscarPorFecha"/>
<output wsam:Action="http://service/UsuarioService/buscarPorFechaResponse" message="tns:buscarPorFechaResponse"/>
</operation>
<operation name="borrarEvento">
<input wsam:Action="http://service/UsuarioService/borrarEventoRequest" message="tns:borrarEvento"/>
<output wsam:Action="http://service/UsuarioService/borrarEventoResponse" message="tns:borrarEventoResponse"/>
</operation>
<operation name="verEventos">
<input wsam:Action="http://service/UsuarioService/verEventosRequest" message="tns:verEventos"/>
<output wsam:Action="http://service/UsuarioService/verEventosResponse" message="tns:verEventosResponse"/>
</operation>
<operation name="modificarEvento">
<input wsam:Action="http://service/UsuarioService/modificarEventoRequest" message="tns:modificarEvento"/>
<output wsam:Action="http://service/UsuarioService/modificarEventoResponse" message="tns:modificarEventoResponse"/>
</operation>
<operation name="validarEvento">
<input wsam:Action="http://service/UsuarioService/validarEventoRequest" message="tns:validarEvento"/>
<output wsam:Action="http://service/UsuarioService/validarEventoResponse" message="tns:validarEventoResponse"/>
</operation>
<operation name="buscarPorCP">
<input wsam:Action="http://service/UsuarioService/buscarPorCPRequest" message="tns:buscarPorCP"/>
<output wsam:Action="http://service/UsuarioService/buscarPorCPResponse" message="tns:buscarPorCPResponse"/>
</operation>
<operation name="crearEvento">
<input wsam:Action="http://service/UsuarioService/crearEventoRequest" message="tns:crearEvento"/>
<output wsam:Action="http://service/UsuarioService/crearEventoResponse" message="tns:crearEventoResponse"/>
</operation>
<operation name="formateoFecha">
<input wsam:Action="http://service/UsuarioService/formateoFechaRequest" message="tns:formateoFecha"/>
<output wsam:Action="http://service/UsuarioService/formateoFechaResponse" message="tns:formateoFechaResponse"/>
</operation>
<operation name="obtenerUsuarios">
<input wsam:Action="http://service/UsuarioService/obtenerUsuariosRequest" message="tns:obtenerUsuarios"/>
<output wsam:Action="http://service/UsuarioService/obtenerUsuariosResponse" message="tns:obtenerUsuariosResponse"/>
</operation>
<operation name="subirEvento">
<input wsam:Action="http://service/UsuarioService/subirEventoRequest" message="tns:subirEvento"/>
<output wsam:Action="http://service/UsuarioService/subirEventoResponse" message="tns:subirEventoResponse"/>
</operation>
<operation name="iniciarSesion">
<input wsam:Action="http://service/UsuarioService/iniciarSesionRequest" message="tns:iniciarSesion"/>
<output wsam:Action="http://service/UsuarioService/iniciarSesionResponse" message="tns:iniciarSesionResponse"/>
</operation>
<operation name="rechazarEvento">
<input wsam:Action="http://service/UsuarioService/rechazarEventoRequest" message="tns:rechazarEvento"/>
<output wsam:Action="http://service/UsuarioService/rechazarEventoResponse" message="tns:rechazarEventoResponse"/>
</operation>
<operation name="notificarUsuario">
<input wsam:Action="http://service/UsuarioService/notificarUsuarioRequest" message="tns:notificarUsuario"/>
<output wsam:Action="http://service/UsuarioService/notificarUsuarioResponse" message="tns:notificarUsuarioResponse"/>
</operation>
<operation name="obtenerEventosDeUsuario">
<input wsam:Action="http://service/UsuarioService/obtenerEventosDeUsuarioRequest" message="tns:obtenerEventosDeUsuario"/>
<output wsam:Action="http://service/UsuarioService/obtenerEventosDeUsuarioResponse" message="tns:obtenerEventosDeUsuarioResponse"/>
</operation>
<operation name="obtenerEventosSinValidar">
<input wsam:Action="http://service/UsuarioService/obtenerEventosSinValidarRequest" message="tns:obtenerEventosSinValidar"/>
<output wsam:Action="http://service/UsuarioService/obtenerEventosSinValidarResponse" message="tns:obtenerEventosSinValidarResponse"/>
</operation>
</portType>
<binding name="UsuarioServicePortBinding" type="tns:UsuarioService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarPorFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrarEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verEventos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPorCP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="formateoFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subirEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rechazarEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="notificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerEventosDeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerEventosSinValidar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioService">
<port name="UsuarioServicePort" binding="tns:UsuarioServicePortBinding">
<soap:address location="http://localhost:8080/AgendaMLGServer-war/UsuarioService"/>
</port>
</service>
</definitions>