AgendaMLGClient/src/conf/xml-resources/web-service-references/UsuarioService/wsdl/localhost_8080/AgendaMLGServer-war/UsuarioService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="UsuarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/AgendaMLGServer-war/UsuarioService?xsd=1"/>
</xsd:schema>
</types>
<message name="subirEvento">
<part name="parameters" element="tns:subirEvento"/>
</message>
<message name="subirEventoResponse">
<part name="parameters" element="tns:subirEventoResponse"/>
</message>
<message name="iniciarSesion">
<part name="parameters" element="tns:iniciarSesion"/>
</message>
<message name="iniciarSesionResponse">
<part name="parameters" element="tns:iniciarSesionResponse"/>
</message>
<message name="crearEvento">
<part name="parameters" element="tns:crearEvento"/>
</message>
<message name="crearEventoResponse">
<part name="parameters" element="tns:crearEventoResponse"/>
</message>
<message name="initUsuario">
<part name="parameters" element="tns:initUsuario"/>
</message>
<message name="initUsuarioResponse">
<part name="parameters" element="tns:initUsuarioResponse"/>
</message>
<message name="obtenerEventos">
<part name="parameters" element="tns:obtenerEventos"/>
</message>
<message name="obtenerEventosResponse">
<part name="parameters" element="tns:obtenerEventosResponse"/>
</message>
<message name="obtenerUsuarios">
<part name="parameters" element="tns:obtenerUsuarios"/>
</message>
<message name="obtenerUsuariosResponse">
<part name="parameters" element="tns:obtenerUsuariosResponse"/>
</message>
<portType name="UsuarioService">
<operation name="subirEvento">
<input wsam:Action="http://service/UsuarioService/subirEventoRequest" message="tns:subirEvento"/>
<output wsam:Action="http://service/UsuarioService/subirEventoResponse" message="tns:subirEventoResponse"/>
</operation>
<operation name="iniciarSesion">
<input wsam:Action="http://service/UsuarioService/iniciarSesionRequest" message="tns:iniciarSesion"/>
<output wsam:Action="http://service/UsuarioService/iniciarSesionResponse" message="tns:iniciarSesionResponse"/>
</operation>
<operation name="crearEvento">
<input wsam:Action="http://service/UsuarioService/crearEventoRequest" message="tns:crearEvento"/>
<output wsam:Action="http://service/UsuarioService/crearEventoResponse" message="tns:crearEventoResponse"/>
</operation>
<operation name="initUsuario">
<input wsam:Action="http://service/UsuarioService/initUsuarioRequest" message="tns:initUsuario"/>
<output wsam:Action="http://service/UsuarioService/initUsuarioResponse" message="tns:initUsuarioResponse"/>
</operation>
<operation name="obtenerEventos">
<input wsam:Action="http://service/UsuarioService/obtenerEventosRequest" message="tns:obtenerEventos"/>
<output wsam:Action="http://service/UsuarioService/obtenerEventosResponse" message="tns:obtenerEventosResponse"/>
</operation>
<operation name="obtenerUsuarios">
<input wsam:Action="http://service/UsuarioService/obtenerUsuariosRequest" message="tns:obtenerUsuarios"/>
<output wsam:Action="http://service/UsuarioService/obtenerUsuariosResponse" message="tns:obtenerUsuariosResponse"/>
</operation>
</portType>
<binding name="UsuarioServicePortBinding" type="tns:UsuarioService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="subirEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="initUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerEventos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioService">
<port name="UsuarioServicePort" binding="tns:UsuarioServicePortBinding">
<soap:address location="http://localhost:8080/AgendaMLGServer-war/UsuarioService"/>
</port>
</service>
</definitions>