AgendaMLGClient/src/conf/xml-resources/web-service-references/UsuarioService/wsdl/localhost_8080/AgendaMLGServer-war/UsuarioService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="crearEvento" type="tns:crearEvento"/>

<xs:element name="crearEventoResponse" type="tns:crearEventoResponse"/>

<xs:element name="evento" type="tns:evento"/>

<xs:element name="iniciarSesion" type="tns:iniciarSesion"/>

<xs:element name="iniciarSesionResponse" type="tns:iniciarSesionResponse"/>

<xs:element name="obtenerEventos" type="tns:obtenerEventos"/>

<xs:element name="obtenerEventosDeUsuario" type="tns:obtenerEventosDeUsuario"/>

<xs:element name="obtenerEventosDeUsuarioResponse" type="tns:obtenerEventosDeUsuarioResponse"/>

<xs:element name="obtenerEventosResponse" type="tns:obtenerEventosResponse"/>

<xs:element name="obtenerUsuarios" type="tns:obtenerUsuarios"/>

<xs:element name="obtenerUsuariosResponse" type="tns:obtenerUsuariosResponse"/>

<xs:element name="subirEvento" type="tns:subirEvento"/>

<xs:element name="subirEventoResponse" type="tns:subirEventoResponse"/>

<xs:element name="usuarios" type="tns:usuarios"/>

<xs:complexType name="subirEvento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="subirEventoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuarios" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuarios">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="tipoUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearEvento">
<xs:sequence>
<xs:element name="arg0" type="tns:evento" minOccurs="0"/>
<xs:element name="arg1" type="tns:usuarios" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="evento">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="emailusuario" type="tns:usuarios" minOccurs="0"/>
<xs:element name="estado" type="xs:int"/>
<xs:element name="fechafin" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechainicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="latitud" type="xs:double" minOccurs="0"/>
<xs:element name="localizacion" type="xs:string" minOccurs="0"/>
<xs:element name="longitud" type="xs:double" minOccurs="0"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearEventoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerEventosDeUsuario">
<xs:sequence>
<xs:element name="arg0" type="tns:usuarios" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerEventosDeUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:evento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerEventos">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="tns:usuarios" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerEventosResponse">
<xs:sequence>
<xs:element name="return" type="tns:evento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciarSesion">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="tns:usuarios" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciarSesionResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuarios" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>